<h1>Places</h1>

<p>
<div class="mb-3">
  <a href="/places/new"> Add New place </a>
</p>
</div>

<ul>
  <% for place in @places %>
  <ul class="list-group">
 <li class="list-group-item list-group-item-success w-25">
 <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
 </li>
</ul>
  <% end %>
</ul>