<h1>New Place</h1>
<%= form_with :model => @place do |form| %>
<p>
<div class="mb-3 w-30">
    <%= form.label "name", :class => "form-label" %>
    <%= form.text_field "name", :class => "form-control" %>
  </div>
</p>
<p>
    <%= form.submit "Create Place", :class => "btn btn-success" %>
</p>
<% end %>